.scene {
    position:relative;
    max-width: var(--width-scene);
    width: 100%;
    height: 600px;
    background-color: black;
}



.planete {
    position: absolute;
    bottom:0;
    left: 0;
    width: 100%;
    height: 90px;
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    background: #50474a url(../_media/planete.gif) repeat-x bottom;
    padding: 5px;
}
.cratere {
    background: url(../_media/sprite.gif) no-repeat;
}



.limite {
    position: absolute;
    border: 1px solid orange;
    border-color: transparent;
}
.limite.--haut {
    top: 56px;
    left: 0;
    right: 0;
    height: 5px;
}
.limite.--droite {
    top: 0;
    right: -5px;
    bottom: 0;
    width: 5px;
}
.limite.--bas {
    bottom: 5px;
    left: 0;
    right: 0;
    height: 5px;
}
.limite.--gauche {
    top: 0;
    left: -5px;
    bottom: 0;
    width: 5px;
}